[Unit]
Description=twitter bot service myprofmakes

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/myprofbot
ExecStart=/home/d/bots/sunshinelistbot/bot.py
WorkingDirectory=/home/d/bots/sunshinelistbot/

[Install]
WantedBy=multi-user.target
